body{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
    url("https://images.unsplash.com/photo-1601134917279-ef70a0a90f18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80");
    background-size: cover;
    background-position: center;
}

.cover-container{
    max-width: 60vw;

}

#navbar {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.3);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

#navbar:hover{
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

#navbar.active {
    color: white;
    border-bottom-color: white;
}

#campgroundButton, #campgroundButton:hover {
    color: #333;
    text-shadow: none;
}